# Sistema operativo y cachés generales
.DS_Store

# Archivos y directorios de caché y logs de CodeIgniter
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html

# Ignorar archivos de configuración sensibles
application/config/config.php
application/config/database.php

# Ignorar archivos .htaccess en todas las subcarpetas de application/
application/*/.htaccess

# Ignorar composer.lock y vendor (si usas Composer)
composer.lock
/vendor/

# Ignorar archivos específicos de tests y mocks
tests/mocks/database/ci_test.sqlite
tests/tests/
tests/results/

# Archivos generados en user_guide_src
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# Archivos de IDEs
/nbproject/
.idea/*

# Archivos de caché de Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Archivos generales de configuración en la raíz del proyecto
.htaccess
